// SIDEBAR -------------------------------
$sidebar-width: 300px;
$sidebar-bg-color: #13131D;


// RIGHT SIDE ------------------------------
$main-bg-color: #0F1825;

// header ----
$search-bg-color: #181f2bb8;
$header-bg-color: #0f1825a6;